# Churn Data preprocessing

In [1]:
#Importing lbraries

import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df=pd.read_csv('churn_clean.csv') #Read CSV File
churn_market=df
churn_market

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,...,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,...,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,...,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,...,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,...,149.948316,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,9499fb4de537af195d16d046b79fd20a,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,...,159.979400,6511.252601,3,2,3,3,4,3,2,3
9996,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,c09a841117fa81b5c8e19afec2760104,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,...,207.481100,5695.951810,4,5,5,4,4,5,2,5
9997,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,9c41f212d1e04dca84445019bbc9b41c,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,...,169.974100,4159.305799,4,4,4,4,4,4,4,5
9998,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,3e1f269b40c235a1038863ecf6b7a0df,Carrollton,GA,Carroll,30117,33.58016,-85.13241,...,252.624000,6468.456752,4,4,6,4,3,3,5,4
9999,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,0ea683a03a3cd544aefe8388aab16176,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,...,217.484000,5857.586167,2,2,3,3,3,3,4,1

In [2]:
#create function to check for missing values in the data

def count_of_null(churn_market):
    count=churn_market.isnull().sum().sum()
    return count

# print missing value count in the data
count_null = count_of_null(churn_market)
print(count_null)

0

In [3]:
#create function to check duplicate values in the data
def check_duplicates(churn_market):
    count=churn_market.duplicated().sum().sum()
    return count

# print duplicate values in the data
count_duplicates = check_duplicates(churn_market)
print(count_duplicates)

0

In [4]:
#create a function to check information about the data
def about_data (churn_market):
        about=churn_market.info()
        return about
    
#print information about the data
info=about_data (churn_market)
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   UID                   10000 non-null  object
 4   City                  10000 non-null  object
 5   State                 10000 non-null  object
 6   County                10000 non-null  object
 7   Zip                   10000 non-null  int64
 8   Lat                   10000 non-null  float64
 9   Lng                   10000 non-null  float64
 10  Population            10000 non-null  int64
 11  Area                  10000 non-null  object
 12  TimeZone              10000 non-null  object
 13  Job                   10000 non-null  object
 14  Children              10000 non-null  int64
 15  Age                   10000 non-null  int64
 16  Income                10000 non-null  float64
 17  Marital               10000 non-null  object
 18  Gender                10000 non-null  object
 19  Churn                 10000 non-null  object
 20  Outage_sec_perweek    10000 non-null  float64
 21  Email                 10000 non-null  int64
 22  Contacts              10000 non-null  int64
 23  Yearly_equip_failure  10000 non-null  int64
 24  Techie                10000 non-null  object
 25  Contract              10000 non-null  object
 26  Port_modem            10000 non-null  object
 27  Tablet                10000 non-null  object
 28  InternetService       10000 non-null  object
 29  Phone                 10000 non-null  object
 30  Multiple              10000 non-null  object
 31  OnlineSecurity        10000 non-null  object
 32  OnlineBackup          10000 non-null  object
 33  DeviceProtection      10000 non-null  object
 34  TechSupport           10000 non-null  object
 35  StreamingTV           10000 non-null  object
 36  StreamingMovies       10000 non-null  object
 37  PaperlessBilling      10000 non-null  object
 38  PaymentMethod         10000 non-null  object
 39  Tenure                10000 non-null  float64
 40  MonthlyCharge         10000 non-null  float64
 41  Bandwidth_GB_Year     10000 non-null  float64
 42  Item1                 10000 non-null  int64
 43  Item2                 10000 non-null  int64
 44  Item3                 10000 non-null  int64
 45  Item4                 10000 non-null  int64
 46  Item5                 10000 non-null  int64
 47  Item6                 10000 non-null  int64
 48  Item7                 10000 non-null  int64
 49  Item8                 10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB
None

In [5]:
#Remove irrelevant columns

churn_market=churn_market.drop(columns=['Item1','Item2','Item3','Item4','Item5','Item6','Item7','Item8','Interaction',
                          'UID', 'State','City', 'County','TimeZone','CaseOrder','Zip', 'Lat', 'Children',
                        'Lng', 'Customer_id', 'Techie', 'Income', 'Population', 'Email','Gender', 'Age','Area', 'Job', 'Contacts', 'Marital', 'Tablet', 'Port_modem'])
churn_market

,Churn,Outage_sec_perweek,Yearly_equip_failure,Contract,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year
0,No,7.978323,1,One year,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,172.455519,904.536110
1,Yes,11.699080,1,Month-to-month,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.632554,800.982766
2,No,10.752800,1,Two Year,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.947583,2054.706961
3,No,14.913540,0,Two Year,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,119.956840,2164.579412
4,Yes,8.147417,1,Month-to-month,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,149.948316,271.493436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,No,9.415935,0,Month-to-month,DSL,Yes,Yes,No,Yes,Yes,No,No,No,No,Electronic Check,68.197130,159.979400,6511.252601
9996,No,6.740547,0,Two Year,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,Electronic Check,61.040370,207.481100,5695.951810
9997,No,6.590911,0,Month-to-month,Fiber Optic,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),47.416890,169.974100,4159.305799
9998,No,12.071910,0,Two Year,Fiber Optic,No,Yes,No,No,No,Yes,Yes,Yes,Yes,Credit Card (automatic),71.095600,252.624000,6468.456752
9999,No,11.754720,0,Month-to-month,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Electronic Check,63.350860,217.484000,5857.586167

In [6]:
# create function to print unique values in the dataframe

def print_unique_values(churn_market):
    for column in churn_market.columns:
        unique_values = churn_market[column].unique()
        print(f"Column '{column}' has {len(unique_values)} unique values:")
        print(unique_values)
print_unique_values(churn_market)

Column 'Churn' has 2 unique values:
['No' 'Yes']
Column 'Outage_sec_perweek' has 9986 unique values:
[ 7.97832295 11.69907956 10.75280028 ...  6.590911   12.07191
 11.75472   ]
Column 'Yearly_equip_failure' has 6 unique values:
[1 0 3 2 4 6]
Column 'Contract' has 3 unique values:
['One year' 'Month-to-month' 'Two Year']
Column 'InternetService' has 3 unique values:
['Fiber Optic' 'DSL' 'None']
Column 'Phone' has 2 unique values:
['Yes' 'No']
Column 'Multiple' has 2 unique values:
['No' 'Yes']
Column 'OnlineSecurity' has 2 unique values:
['Yes' 'No']
Column 'OnlineBackup' has 2 unique values:
['Yes' 'No']
Column 'DeviceProtection' has 2 unique values:
['No' 'Yes']
Column 'TechSupport' has 2 unique values:
['No' 'Yes']
Column 'StreamingTV' has 2 unique values:
['No' 'Yes']
Column 'StreamingMovies' has 2 unique values:
['Yes' 'No']
Column 'PaperlessBilling' has 2 unique values:
['Yes' 'No']
Column 'PaymentMethod' has 4 unique values:
['Credit Card (automatic)' 'Bank Transfer(automatic)' 'Mailed Check'
 'Electronic Check']
Column 'Tenure' has 9996 unique values:
[ 6.79551295  1.156681   15.75414408 ... 47.41689    71.0956
 63.35086   ]
Column 'MonthlyCharge' has 750 unique values:
[172.455519 242.632554 159.947583 119.95684  149.948316 185.007692
 200.118516 114.950905 117.468591 162.482694 174.958118 149.962093
 137.439154 184.971516 159.965581 177.65076  194.966286 202.682861
 152.490739 149.944668 184.978458 127.495766 124.964303 162.511928
  92.455141 222.649979 139.981577 200.132293 257.651257 230.105118
 147.489301 267.664655 162.483267 229.993134 140.00128  184.964681
 147.473844 172.457857 107.481989 255.141716 192.456745 245.174977
 195.006206 104.962874  92.488023 184.979684 187.656013 169.944668
 160.00128  129.962093 142.515576 220.14775  124.97808  164.964681
 194.976769 152.455519  92.5018   127.488728 184.963371 265.146969
 207.609354 152.462354 212.655686 255.119794 134.950905 255.137219
 214.966286 270.160419 200.165175 149.937833 240.114868 187.609354
 169.992756 120.004928 139.95684  114.983787 207.638588 192.470522
 222.628057 162.468917 159.979358 245.145743 187.484705 162.500692
 182.467607 222.660939 220.161527 169.937833 204.963371 245.128318
 172.473314 172.456745 159.951231 112.455141 174.961766 162.452604
 137.483594 275.133571 127.442069 210.138    147.456419 242.657291
 149.991327 124.960655 172.48852  139.965008 184.949594 252.637807
 179.979358 202.443347 197.472533 255.155493 174.976769 192.440432
 182.460772 137.461553 217.472533 104.964303 262.610632 152.488401
 174.974431 220.118516 184.961033 217.483972 187.642236 130.024412
 139.934918 149.959755 137.469817 164.985293 159.965008 172.462354
 204.949594 162.471255 194.999168 174.975543 139.983006 209.993134
 107.495766 152.502178  79.978861 142.482694 117.439154 220.132293
 210.12704  139.979239 102.474625 242.610632 127.458638 129.976324
 207.46728  149.974105 225.178625 232.637807 117.472036 199.990219
 139.987503 179.947583 127.473844 267.642733 220.114868 157.483594
 127.474951 255.133571 179.965581 115.002061 147.503078 137.497825
 134.980139 147.442069 197.494455 162.529926 210.151777 190.173699
 202.649979 142.500692 114.997564 232.62403  242.628057 124.993537
 225.145743 287.642733 197.516854 194.974431 175.133074 147.478341
 235.159141 147.460067 129.948316 232.652038 159.980465 137.487242
 245.131966 169.974105 197.470195 137.516476 207.475448 214.952509
 139.99789  172.47417  137.468388 174.969934 144.988941 172.484753
 174.991856 232.622804 210.156274 114.972827 149.977753 184.985293
 132.479779 190.12704  169.967067 222.679213 152.495236 202.636202
 127.478341 159.983006 252.62403  104.97808  204.961033  95.019486
 225.131966 212.641455 182.446995  95.005709 182.465269 129.977753
 112.484375 154.961766 192.48852  107.48056  165.018175 125.007314
 212.622804 184.967019 167.456419 187.513939 142.499263 277.63748
 139.951231 142.468917 127.481989 175.006206 194.958118 172.44408
 127.460067 207.49737  152.457857 162.460772 152.479779 105.010962
 114.965789 182.490006 104.992311 164.978458 172.440432 212.669463
 182.45383  144.960655 117.485813 167.484705 164.988941 130.006414
 257.63748  142.452604  94.972827 210.105118 194.969934 197.48762
 149.988989 182.443347 157.469817 152.510442 235.137219 149.97755
 159.964152 129.959755 119.989722 245.146969 197.483972 204.979684
 159.934918 217.470195 177.48762  162.465269 172.487091 159.994242
 197.628838 142.471255 162.500489 150.020764 149.984492 154.991856
 120.003499 127.511223 232.641455 152.44408  117.487242 117.483475
 275.119794 162.45383  187.46728  172.470522 182.483267 129.994975
 129.99153  222.632554 165.01134  242.61428  154.975543 207.481057
 152.466002 247.664655 184.993915 162.467607 277.651257 194.988208
 235.141716 117.51525  187.481057 152.47417  137.468591 152.509013
 182.476229 142.485486 172.503404 227.475448 150.006987 162.446995
 149.99153  222.636202 190.159922 172.510442 132.466002 162.497044
  82.496547 160.01224  159.987503 162.493654 235.188375 222.61428
 187.49737  194.952509 139.986074 127.525    215.159141 147.471303
 139.9678   140.004928 174.988208 164.967019 149.992756 162.498151
 127.506726 175.02109  232.670689 222.665436 200.146524 242.643514
 175.004777 164.971516 149.970715 290.160419 257.684139 230.134352
 182.497044 255.166453 107.528648 265.128318 150.0208   242.6573
 204.961    139.9568   129.9915   242.6326   144.9607   275.1336
 235.1372   177.4945   139.965    162.4608   130.0064   172.4579
 169.9378   184.9634   172.4885   245.1457   230.1051   252.624
 192.4567   117.4392   172.4404   139.9816   104.9781   232.6378
 137.4836   167.4847   132.4798   169.9447   104.9643   114.9728
 159.965    149.9378   152.509    149.9447   212.6557   104.9629
 159.9349   277.6513   159.9656   242.6143   160.0013   174.9755
 152.4742   172.4567   152.4798   242.6106   149.9776   192.4404
 117.4858   127.4601   107.4806   102.4746   232.624    222.6281
 214.9663   127.4421   172.4624   257.6513   142.4526   207.6386
 124.9781   149.9598   117.4872   184.9853   114.9838   220.1323
 194.9663   137.4392   200.1652   162.4827   129.9778   194.9744
 152.5104   240.1149   147.4564   192.4705   152.4624   172.4705
 217.484    164.9785   172.5104   159.9642   202.4433   107.4958
 172.4871   137.4684   172.4441   220.1478   159.9942   174.991
 252.6378   197.6288   174.9768   182.4538   210.127     92.45514
 134.9509   237.6549   207.4673   277.6375   202.6829   255.1372
 127.4887   184.9496   127.4958   235.1591   202.6362   225.1457
 132.466    212.6228   124.9607   222.65     222.6326   117.4686
 262.6106   147.4713   247.6647   197.4725   194.9882   162.447
 200.1465   117.4835   197.484    114.9658   172.4733   202.65
 245.175    207.6094   184.961    194.9525   174.9581   107.482
 159.9476   212.6415   162.4538   167.4564   127.475    114.9509
 172.4742   245.147    200.1185   265.1283   112.4551   195.0062
 134.9801   187.5139   214.9525   159.9805   182.4676   149.9778
 162.4676   182.4433   129.9621   187.6094   242.6281   137.4616
 220.1185   127.482    159.983    129.995    207.4754   127.4738
 174.9882   172.5034   149.9707   190.127    149.9741   182.497
 139.9349   179.9476   255.1555   129.9926   245.1283   142.4827
 152.4579   270.1604   219.9902   157.4698   194.9992   164.967
 194.9581   162.4526   114.9976   159.9794   210.1051   245.132
 265.147    172.4555   194.9768   119.9568   160.0122   257.6375
 154.9919   207.4811   187.656    139.9792   149.9483   132.5127
 255.1198   149.9928   107.5286   117.5152   162.4713   222.6792
 152.4555   182.447    184.9797   124.9935   147.5031   164.9647
 210.1518   174.9699   220.1149   137.4698   192.4885   142.4713
 179.9794   129.9598   204.9634   179.9656   255.1417   162.497
 190.1737   200.1323   157.4836   162.4818   112.4844   152.5022
 275.1198   152.4884   139.9875   184.9785   204.9797   212.6695
 129.9483   154.9755   140.0013   197.4702   139.9512   182.49
 149.9621   147.4738   232.6415   137.4686   182.4833   147.4601
 232.6707   142.4689   255.1336    79.97886  147.4421   147.4783
 155.0084   222.6143   199.9902   152.4952   139.9861   184.9647
 162.4833   152.466    142.5007   217.4702   207.4974   175.1331
 162.4937   140.0049    82.49655  159.9512   182.4762   162.4982
 162.5005   165.0182   137.4872   127.5112   149.9913   164.9889
 159.9875   255.1665   119.9897   187.4847   127.4586   154.9618
 120.0035   220.1615   257.6549   184.967    117.472    169.9741
 129.9763   182.4653   105.011    165.0113   162.4653   124.9643
 245.1612   127.5067   232.6228   197.4945   267.6647   149.9915
 217.4725   232.652    164.9853   127.4783   139.983    227.4754
 139.9979   152.4441   162.4689   149.989    190.1599   225.132
 222.6654   169.9671   204.9496    95.01949  222.6362   235.1417
 182.4608   194.9699   177.4876   147.4893   197.4876   125.0073
 184.9963   137.5165   230.1344   174.9919   225.1786   169.9928
 149.9845   267.6427   115.0021    94.97283  287.6427   187.4974
 177.6508   120.0049   187.4673   175.0048   140.0342   162.5007
 144.9889   142.5156   174.9618   164.9715   184.9715   187.4811
 235.1555   137.4978   209.9931   117.5015   172.4848   162.5299
 152.4907   104.9923   187.6422   174.9744   175.0062   290.1604
 210.1563   184.9939   142.4993   222.6609    92.48802  242.6435
  95.00571  142.4855   235.1884   150.007    215.1591   175.0211
 197.5169   130.0244   185.0077   162.5119   257.6841   229.9931  ]
Column 'Bandwidth_GB_Year' has 10000 unique values:
[ 904.5361102  800.9827661 2054.706961  ... 4159.305799  6468.456752
 5857.586167 ]

In [7]:
#Create function to check statistical summary of the dataset
def stat_summary (churn_market):
    statistics_sum = churn_market.describe()
    return statistics_sum
#print statistical summary of data
summary = stat_summary (churn_market)
summary

,Outage_sec_perweek,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,10.001848,0.398000,34.526188,172.624816,3392.341550
std,2.976019,0.635953,26.443063,42.943094,2185.294852
min,0.099747,0.000000,1.000259,79.978860,155.506715
25%,8.018214,0.000000,7.917694,139.979239,1236.470827
50%,10.018560,0.000000,35.430507,167.484700,3279.536903
75%,11.969485,1.000000,61.479795,200.734725,5586.141370
max,21.207230,6.000000,71.999280,290.160419,7158.981530

In [8]:
#create function to find columns with Categorical Values

def categorcal_columns (churn_market):
    cat_cols= churn_market.select_dtypes(exclude=['int','float']).columns.tolist()
    return cat_cols
#print categorical columns
categorical = categorcal_columns (churn_market)
categorical

['Churn',
 'Contract',
 'InternetService',
 'Phone',
 'Multiple',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'PaperlessBilling',
 'PaymentMethod']

In [9]:
#create function to find columns with Numerical Values

def numerical_columns (churn_market):
    num_cols = churn_market.select_dtypes(include=['int','float']).columns.tolist()
    return num_cols
#print numerical columns
numerical = numerical_columns (churn_market)
numerical

['Outage_sec_perweek',
 'Yearly_equip_failure',
 'Tenure',
 'MonthlyCharge',
 'Bandwidth_GB_Year']

# Data Cleaning

In [10]:
#Removing extra spaces from the features Using strip()
churn_market.columns = churn_market.columns.str.strip()

In [11]:
#Finding Outliers using IQR score

#The IQR is the first quartile subtracted from the third quartile; 
#these quartiles can be clearly seen on a box plot on the data.
# calculate IQR score
#where Q3 is the 75th percentile of the data and Q1 is the 25th percentile of the data.
Q1 = churn_market.quantile(0.25)
Q3 = churn_market.quantile(0.75)
IQR = Q3 - Q1
print(IQR)
# IQR of each column

Outage_sec_perweek         3.951271
Yearly_equip_failure       1.000000
Tenure                    53.562101
MonthlyCharge             60.755486
Bandwidth_GB_Year       4349.670543
dtype: float64

In [12]:
#remove outlier
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)
#Once the IQR is calculated, we can use it to identify outliers by defining a threshold range as follows;
#Lower threshold = Q1 - 1.5 * IQR
#Upper threshold = Q3 + 1.5 * IQR
#Any data points that fall outside of this range are considered outliers and removed from the dataset

churn_market = churn_market[~((churn_market < (Q1 - 1.5 * IQR)) |(churn_market > (Q3 + 1.5 * IQR))).any(axis=1)]
churn_market.shape

(9831, 18)

In [13]:
#create a list for categorical varables 
cat_vars = ['Churn',
             'Contract',
             'InternetService',
             'Phone',
             'Multiple',
             'OnlineSecurity',
             'OnlineBackup',
             'DeviceProtection',
             'TechSupport',
             'StreamingTV',
             'StreamingMovies',
             'PaperlessBilling',
             'PaymentMethod']

In [14]:
#create a list for continouse variable
cont_vars = ['Outage_sec_perweek',
             'Yearly_equip_failure',
             'Tenure',
             'MonthlyCharge',
             'Bandwidth_GB_Year']

In [15]:
#convert the lists to series object
cat_vars = pd.Series(cat_vars)
cont_vars = pd.Series(cont_vars)

In [16]:
# Convert categorical variables into dummy variables
dummy_df = pd.get_dummies(churn_market, columns=cat_vars)

In [17]:
# concatenate the resulting DataFrame with continuous variables

final_df = pd.concat([dummy_df, cont_vars], axis=1)

In [18]:
#print dataframe
final_df

,Outage_sec_perweek,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Churn_No,Churn_Yes,Contract_Month-to-month,Contract_One year,Contract_Two Year,...,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check,0
0,7.978323,1,6.795513,172.455519,904.536110,1,0,0,1,0,...,0,0,1,0,1,0,1,0,0,Outage_sec_perweek
1,11.699080,1,1.156681,242.632554,800.982766,0,1,1,0,0,...,1,0,1,0,1,1,0,0,0,Yearly_equip_failure
2,10.752800,1,15.754144,159.947583,2054.706961,1,0,0,0,1,...,0,0,1,0,1,0,1,0,0,Tenure
3,14.913540,0,17.087227,119.956840,2164.579412,1,0,0,0,1,...,1,1,0,0,1,0,0,0,1,MonthlyCharge
4,8.147417,1,1.670972,149.948316,271.493436,0,1,1,0,0,...,1,1,0,1,0,0,0,0,1,Bandwidth_GB_Year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9.415935,0,68.197130,159.979400,6511.252601,1,0,1,0,0,...,0,1,0,1,0,0,0,1,0,NaN
9996,6.740547,0,61.040370,207.481100,5695.951810,1,0,0,0,1,...,1,1,0,1,0,0,0,1,0,NaN
9997,6.590911,0,47.416890,169.974100,4159.305799,1,0,1,0,0,...,0,1,0,0,1,1,0,0,0,NaN
9998,12.071910,0,71.095600,252.624000,6468.456752,1,0,0,0,1,...,1,0,1,0,1,0,1,0,0,NaN
9999,11.754720,0,63.350860,217.484000,5857.586167,1,0,1,0,0,...,0,0,1,0,1,0,0,1,0,NaN

In [19]:
#create function to check for missing values in the data

def count_of_null(final_df):
    count=final_df.isnull().sum().sum()
    return count

# print missing value count in the data
count_null = count_of_null(final_df)
print(count_null)

9826

In [20]:
#create function to check for missing column in the data

def count_of_null(final_df):
    count=final_df.isnull().sum()
    return count

# print missing value count in the data
count_null = count_of_null(final_df)
print(count_null)

Outage_sec_perweek                           0
Yearly_equip_failure                         0
Tenure                                       0
MonthlyCharge                                0
Bandwidth_GB_Year                            0
Churn_No                                     0
Churn_Yes                                    0
Contract_Month-to-month                      0
Contract_One year                            0
Contract_Two Year                            0
InternetService_DSL                          0
InternetService_Fiber Optic                  0
InternetService_None                         0
Phone_No                                     0
Phone_Yes                                    0
Multiple_No                                  0
Multiple_Yes                                 0
OnlineSecurity_No                            0
OnlineSecurity_Yes                           0
OnlineBackup_No                              0
OnlineBackup_Yes                             0
DeviceProtection_No                          0
DeviceProtection_Yes                         0
TechSupport_No                               0
TechSupport_Yes                              0
StreamingTV_No                               0
StreamingTV_Yes                              0
StreamingMovies_No                           0
StreamingMovies_Yes                          0
PaperlessBilling_No                          0
PaperlessBilling_Yes                         0
PaymentMethod_Bank Transfer(automatic)       0
PaymentMethod_Credit Card (automatic)        0
PaymentMethod_Electronic Check               0
PaymentMethod_Mailed Check                   0
0                                         9826
dtype: int64

In [21]:
#print information about the data
info=about_data (final_df)
print(info)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9831 entries, 0 to 9999
Data columns (total 36 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Outage_sec_perweek                      9831 non-null   float64
 1   Yearly_equip_failure                    9831 non-null   int64
 2   Tenure                                  9831 non-null   float64
 3   MonthlyCharge                           9831 non-null   float64
 4   Bandwidth_GB_Year                       9831 non-null   float64
 5   Churn_No                                9831 non-null   uint8
 6   Churn_Yes                               9831 non-null   uint8
 7   Contract_Month-to-month                 9831 non-null   uint8
 8   Contract_One year                       9831 non-null   uint8
 9   Contract_Two Year                       9831 non-null   uint8
 10  InternetService_DSL                     9831 non-null   uint8
 11  InternetService_Fiber Optic             9831 non-null   uint8
 12  InternetService_None                    9831 non-null   uint8
 13  Phone_No                                9831 non-null   uint8
 14  Phone_Yes                               9831 non-null   uint8
 15  Multiple_No                             9831 non-null   uint8
 16  Multiple_Yes                            9831 non-null   uint8
 17  OnlineSecurity_No                       9831 non-null   uint8
 18  OnlineSecurity_Yes                      9831 non-null   uint8
 19  OnlineBackup_No                         9831 non-null   uint8
 20  OnlineBackup_Yes                        9831 non-null   uint8
 21  DeviceProtection_No                     9831 non-null   uint8
 22  DeviceProtection_Yes                    9831 non-null   uint8
 23  TechSupport_No                          9831 non-null   uint8
 24  TechSupport_Yes                         9831 non-null   uint8
 25  StreamingTV_No                          9831 non-null   uint8
 26  StreamingTV_Yes                         9831 non-null   uint8
 27  StreamingMovies_No                      9831 non-null   uint8
 28  StreamingMovies_Yes                     9831 non-null   uint8
 29  PaperlessBilling_No                     9831 non-null   uint8
 30  PaperlessBilling_Yes                    9831 non-null   uint8
 31  PaymentMethod_Bank Transfer(automatic)  9831 non-null   uint8
 32  PaymentMethod_Credit Card (automatic)   9831 non-null   uint8
 33  PaymentMethod_Electronic Check          9831 non-null   uint8
 34  PaymentMethod_Mailed Check              9831 non-null   uint8
 35  0                                       5 non-null      object
dtypes: float64(4), int64(1), object(1), uint8(30)
memory usage: 825.7+ KB
None

In [22]:
final_df

,Outage_sec_perweek,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Churn_No,Churn_Yes,Contract_Month-to-month,Contract_One year,Contract_Two Year,...,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check,0
0,7.978323,1,6.795513,172.455519,904.536110,1,0,0,1,0,...,0,0,1,0,1,0,1,0,0,Outage_sec_perweek
1,11.699080,1,1.156681,242.632554,800.982766,0,1,1,0,0,...,1,0,1,0,1,1,0,0,0,Yearly_equip_failure
2,10.752800,1,15.754144,159.947583,2054.706961,1,0,0,0,1,...,0,0,1,0,1,0,1,0,0,Tenure
3,14.913540,0,17.087227,119.956840,2164.579412,1,0,0,0,1,...,1,1,0,0,1,0,0,0,1,MonthlyCharge
4,8.147417,1,1.670972,149.948316,271.493436,0,1,1,0,0,...,1,1,0,1,0,0,0,0,1,Bandwidth_GB_Year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9.415935,0,68.197130,159.979400,6511.252601,1,0,1,0,0,...,0,1,0,1,0,0,0,1,0,NaN
9996,6.740547,0,61.040370,207.481100,5695.951810,1,0,0,0,1,...,1,1,0,1,0,0,0,1,0,NaN
9997,6.590911,0,47.416890,169.974100,4159.305799,1,0,1,0,0,...,0,1,0,0,1,1,0,0,0,NaN
9998,12.071910,0,71.095600,252.624000,6468.456752,1,0,0,0,1,...,1,0,1,0,1,0,1,0,0,NaN
9999,11.754720,0,63.350860,217.484000,5857.586167,1,0,1,0,0,...,0,0,1,0,1,0,0,1,0,NaN

# Transaction Database

In [23]:
#Remove irrelevant columns

final_df=final_df.drop(columns=['Outage_sec_perweek','Yearly_equip_failure','Tenure',
                                0,'MonthlyCharge', 'Yearly_equip_failure', 
                                'Bandwidth_GB_Year'])
final_df

,Churn_No,Churn_Yes,Contract_Month-to-month,Contract_One year,Contract_Two Year,InternetService_DSL,InternetService_Fiber Optic,InternetService_None,Phone_No,Phone_Yes,...,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,1,0,0,1,0,0,1,0,0,1,...,1,0,0,1,0,1,0,1,0,0
1,0,1,1,0,0,0,1,0,0,1,...,0,1,0,1,0,1,1,0,0,0
2,1,0,0,0,1,1,0,0,0,1,...,1,0,0,1,0,1,0,1,0,0
3,1,0,0,0,1,1,0,0,0,1,...,0,1,1,0,0,1,0,0,0,1
4,0,1,1,0,0,0,1,0,1,0,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,0,1,0,0,1,0,0,0,1,...,1,0,1,0,1,0,0,0,1,0
9996,1,0,0,0,1,0,1,0,0,1,...,0,1,1,0,1,0,0,0,1,0
9997,1,0,1,0,0,0,1,0,0,1,...,1,0,1,0,0,1,1,0,0,0
9998,1,0,0,0,1,0,1,0,1,0,...,0,1,0,1,0,1,0,1,0,0
9999,1,0,1,0,0,0,1,0,0,1,...,1,0,0,1,0,1,0,0,1,0

In [24]:
#Remove churn columns

final_df=final_df.drop(columns=['Churn_No', 'Churn_Yes'])
final_df

,Contract_Month-to-month,Contract_One year,Contract_Two Year,InternetService_DSL,InternetService_Fiber Optic,InternetService_None,Phone_No,Phone_Yes,Multiple_No,Multiple_Yes,...,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,0,1,0,0,1,0,0,1,1,0,...,1,0,0,1,0,1,0,1,0,0
1,1,0,0,0,1,0,0,1,0,1,...,0,1,0,1,0,1,1,0,0,0
2,0,0,1,1,0,0,0,1,0,1,...,1,0,0,1,0,1,0,1,0,0
3,0,0,1,1,0,0,0,1,1,0,...,0,1,1,0,0,1,0,0,0,1
4,1,0,0,0,1,0,1,0,1,0,...,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,0,0,1,0,0,0,1,0,1,...,1,0,1,0,1,0,0,0,1,0
9996,0,0,1,0,1,0,0,1,0,1,...,0,1,1,0,1,0,0,0,1,0
9997,1,0,0,0,1,0,0,1,0,1,...,1,0,1,0,0,1,1,0,0,0
9998,0,0,1,0,1,0,1,0,0,1,...,0,1,0,1,0,1,0,1,0,0
9999,1,0,0,0,1,0,0,1,0,1,...,1,0,0,1,0,1,0,0,1,0

In [25]:
basket_input= final_df

# Parsing Transaction Database into Apriori Algorithm for Market Bucket Analysis

In [26]:
#Association rules on the new dataframe
apriori(basket_input,min_support=0.2,use_colnames=True).head(10)

    support                       itemsets
0  0.544706      (Contract_Month-to-month)
1  0.210558            (Contract_One year)
2  0.244736            (Contract_Two Year)
3  0.346252          (InternetService_DSL)
4  0.441054  (InternetService_Fiber Optic)
5  0.212695         (InternetService_None)
6  0.906927                    (Phone_Yes)
7  0.539111                  (Multiple_No)
8  0.460889                 (Multiple_Yes)
9  0.641339            (OnlineSecurity_No)

In [27]:
# Build the Apriori Algorithm for Market Basket Analysis

frequent_itemsets = apriori(basket_input,min_support=0.2,use_colnames=True)
rules = association_rules(frequent_itemsets,metric='lift',min_threshold=0.5)
rules.head(10)


#Here, the “antecedents” and “consequents” columns show items that are frequently purchased together.

#In this Analysis, the first row of the dataset tells us that if a person were to buy month-to-month conract,
#then they are also likely to purchase Fibre Optic Internet Service

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Contract_Month-to-month),(InternetService_Fiber Optic),0.544706,0.441054,0.241379,0.443137,1.004724,0.001135,1.003741
1,(InternetService_Fiber Optic),(Contract_Month-to-month),0.441054,0.544706,0.241379,0.547279,1.004724,0.001135,1.005684
2,(Contract_Month-to-month),(Phone_Yes),0.544706,0.906927,0.492422,0.904015,0.996789,-0.001586,0.969661
3,(Phone_Yes),(Contract_Month-to-month),0.906927,0.544706,0.492422,0.542956,0.996789,-0.001586,0.996173
4,(Contract_Month-to-month),(Multiple_No),0.544706,0.539111,0.298647,0.548273,1.016994,0.004990,1.020281
5,(Multiple_No),(Contract_Month-to-month),0.539111,0.544706,0.298647,0.553962,1.016994,0.004990,1.020753
6,(Contract_Month-to-month),(Multiple_Yes),0.544706,0.460889,0.246058,0.451727,0.980122,-0.004990,0.983290
7,(Multiple_Yes),(Contract_Month-to-month),0.460889,0.544706,0.246058,0.533878,0.980122,-0.004990,0.976770
8,(Contract_Month-to-month),(OnlineSecurity_No),0.544706,0.641339,0.352457,0.647059,1.008919,0.003116,1.016207
9,(OnlineSecurity_No),(Contract_Month-to-month),0.641339,0.544706,0.352457,0.549564,1.008919,0.003116,1.010786

In [28]:
#To get the most frequent item combinations in the entire dataset, 
#let’s sort the dataset by support, confidence, and lift:

rules.sort_values(["support", "confidence","lift"],axis = 0, ascending = False).head(10)



#The resulting table shows the most popular product combinations that are frequently bought together are:

#PaperlessBilling_Yes and Phone_Yes (One reason for this could be that the Telecom company ran a promotion on these items 
#together or displayed them within the same product category to improve sales)

#OnlineSecurity_No and Phone_Yes
#TechSupport_No and Phone_Yes
#DeviceProtection_No and Phone_Yes
#OnlineBackup_No and Phone_Yes

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
71,(OnlineSecurity_No),(Phone_Yes),0.641339,0.906927,0.581528,0.906741,0.999794,-0.000120,0.998001
70,(Phone_Yes),(OnlineSecurity_No),0.906927,0.641339,0.581528,0.641207,0.999794,-0.000120,0.999633
83,(TechSupport_No),(Phone_Yes),0.625267,0.906927,0.567796,0.908085,1.001277,0.000724,1.012601
82,(Phone_Yes),(TechSupport_No),0.906927,0.625267,0.567796,0.626066,1.001277,0.000724,1.002135
97,(PaperlessBilling_Yes),(Phone_Yes),0.587122,0.906927,0.531380,0.905059,0.997940,-0.001097,0.980323
96,(Phone_Yes),(PaperlessBilling_Yes),0.906927,0.587122,0.531380,0.585913,0.997940,-0.001097,0.997079
79,(DeviceProtection_No),(Phone_Yes),0.562099,0.906927,0.514088,0.914586,1.008444,0.004305,1.089663
78,(Phone_Yes),(DeviceProtection_No),0.906927,0.562099,0.514088,0.566846,1.008444,0.004305,1.010958
74,(OnlineBackup_No),(Phone_Yes),0.548571,0.906927,0.497915,0.907658,1.000806,0.000401,1.007916
75,(Phone_Yes),(OnlineBackup_No),0.906927,0.548571,0.497915,0.549013,1.000806,0.000401,1.000980

In [29]:
# load cleaned churn dataframe into CSV file.
churn_market.to_csv('Fixed_churn_market.csv', index=False, header=True)

In [30]:

# load Transaction database into CSV file.
basket_input.to_csv('Transaction database.csv', index=False, header=True)